{% extends "webapp/base.html" %}

{% block content %}

    <body>

        <br>
        <br>

        <div class="text-center">

            <h3> Welcome to Customer Relational Management </h3>

            <br>

            <h5> Track your customer Efficiently!! </h5>

            <hr>
            
            <br>
            <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create Your Account <i class="fa fa-user-plus" aria-hidden="true"></i> </a>
        </body>

{% endblock %} 